.form-button-container {
    padding-top: 12px;
    padding-bottom: 12px;

    button {
        padding-right: 20px;
        margin-right: 8px;
        color: white;
    }
}

.form-button-outer-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

